body{
	background-image: url("download.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	margin-left: 0%;
	text-align: center;
}

button {
	font-size: 50px;
}

.board {
	float: left;
	margin-left: 30px;
}

.controls {
	width: 30%;
}

.controls 

input {
	width: 30%;
}

.box {
	font-size: 50px;
}

